@model SettingHtmlInfo

@{
    string value = Model.Value;
    string checkedStr = string.Compare(value, "true", StringComparison.OrdinalIgnoreCase) == 0 ? "checked" : "";
}
<div class="form-check">
    <input type="checkbox" id="@Model.Name" name="@Model.FormName" value="true" class="form-check-input" @checkedStr/>
    <input type="hidden" name="@Model.FormName" value="false"/>
    <label class="form-check-label" for="@Model.Name">@Model.Description</label>
</div>